@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .selection-neon {
    ::selection {
      background-color: #27272a;
      color: #ccff00;
    }
  }
}

body {
  @apply selection:bg-zinc-800 selection:text-neon-green;
}

/* Custom Animations */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); } 
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out;
}